version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/afyalink
      - JWT_SECRET=change_this_secret
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    ports:
      - '3000:80'
    depends_on:
      - backend
  mongo:
    image: mongo:6
    volumes:
      - dbdata:/data/db
volumes:
  dbdata:
